<div class="d-flex h-100 justify-content-center">
  <div class="d-flex flex-column w-50 justify-content-center">
    <div class="card">
      <div class="card-header text-center"><h3>Thank You for Registering</h3></div>
      <div class="card-body">

        <form class="d-flex flex-column w-100 justify-content-center">
          <p class="text-center">We have sent a confirmation email to <strong>{{ user.email }}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>

          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn btn-primary" (click)="authService.sendVerificationEmail(user)">
              Resend Verification Email
            </button>
          </mat-card-actions>
        </form>

      </div>
      <div class="card-footer text-center mt-2">
        <span>Go back to ? <a class="redirect" routerLink="/login">Log In</a></span>
      </div>
    </div>
  </div>
</div>




