<div class="d-flex h-100 justify-content-center">
  <div class="d-flex flex-column w-25 justify-content-center">
    <div class="card">
      <div class="card-header"><span class="text-center"><h3>Sign Up</h3></span></div>
      <div class="card-body">
        <form class="d-flex flex-column w-100">
          <mat-form-field>
            <input type="email" matInput [formControl]="userEmail" [errorStateMatcher]="errorMatcher" placeholder="Email">
            <mat-error *ngIf="userEmail.hasError('required')">email address is required</mat-error>
            <mat-error *ngIf="userEmail.hasError('pattern')">email is not valid</mat-error>
            <mat-error *ngIf="userEmail.hasError('error-extra')">{{ errorMessage }}</mat-error>
          </mat-form-field>
          

          <mat-form-field>
            <input type="password" matInput [formControl]="userPwd" [errorStateMatcher]="errorMatcher" placeholder="Password">
            <mat-error *ngIf="userPwd.hasError('required')">password is required</mat-error>
            <mat-error *ngIf="userPwd.hasError('minlength')">password should be at least 6 characters</mat-error>
            <mat-error *ngIF="userPwd.hasError('error-extra')">{{ errorMessage }}</mat-error>
          </mat-form-field>

          <mat-card-actions>
            <button class="btn btn-primary btn-block mt-2" (click)="signUp()">Sign Up</button>
          </mat-card-actions>
        </form>
    </div>
      <div class="card-footer text-center">
        <span>Already have an account? <a class="redirect" routerLink="/login">Log In</a></span>
      </div>
  </div>
</div>
   

     
