<div class="d-flex h-100 justify-content-center">
  <div class="d-flex flex-column w-100 justify-content-center align-items-center">
    <h3>Sign Up</h3>
      <div class="form-group w-25">
        <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
      </div>

      <div class="form-group w-25">
        <input type="password" class="form-control" placeholder="Password" #userPwd required>
      </div>

      <div class="form-group w-25">
        <input type="button" class="btn btn-primary btn-block" value="Sign Up" (click)="authService.register(userEmail.value, userPwd.value)">
      </div>
      
    <div class="form-group">
      <span>Already have an account? <a class="redirect" routerLink="/login">Log In</a></span>
    </div>

  </div>

</div>

     
