 <div class="d-flex h-100 justify-content-center">
   <div class="d-flex flex-column w-25 justify-content-center ">

     <div class="card">
       <div class="card-header"><h3 class="text-center"><span>Sign In</span></h3></div>
       <div class="card-body">
         <form class="d-flex flex-column w-100">
           <mat-form-field>
             <input type="email" matInput [formControl]="userName" placeholder="Email" [errorStateMatcher]="errorMatcher">
             <mat-error *ngIf="userName.hasError('required')">email is required</mat-error>
             <mat-error *ngIf="userName.hasError('pattern')">email is not valid</mat-error>
           </mat-form-field>

           <mat-form-field>
             <input type="password" matInput [formControl]="userPassword" placeholder="password" [errorStateMatcher]="errorMatcher">
             <mat-error *ngIf="userPassword.hasError('required')">password is required</mat-error>

           </mat-form-field>


           <mat-card-actions>
             <button mat-raised-button class="btn btn-primary btn-block mt-2" (click)="signIn()">Sign In</button>
             <div class="text-center"><span>or</span></div>
             <button mat-raised-button class="btn btn-primary btn-block" (click)="authService.facebookAuth()">
               <i class="fab fa-facebook"></i>Continue with facebook
             </button>
           </mat-card-actions>

         </form>
       </div>

       <div class="card-footer text-center">
         <span>
           <a routerLink="/forgot-password">Forgot Password?  </a>
           <a routerLink="/register">Sign up</a>
         </span>
       </div>

     </div>
  </div>
 </div>
  


   
    
   
       


