<div class="d-flex h-100 justify-content-center">
  <div class="d-flex flex-column w-50 justify-content-center">
    <div class="card">
      <div class="card-header text-center"><h3>Congratulation!</h3></div>
      <div class="card-body">

        <form class="d-flex flex-column w-100 justify-content-center">
          <p class="text-center">Your email address has been verified and approved.</p>
          <p class="text-center">You can now login and access the system.</p>

          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn btn-primary" routerLink="/login">
              Click to Log in
            </button>
          </mat-card-actions>
        </form>

      </div>
      <!--<div class="card-footer text-center mt-2">
        <span>Go back to ? <a class="redirect" routerLink="/login">Log In</a></span>
      </div>-->
    </div>
  </div>
</div>




