<div class="d-flex h-100 justify-content-center">
  <div class="d-flex flex-column w-25 justify-content-center">
    <div class="card">
      <div class="card-header"><h3 class="text-center"><span>Reset Password</span></h3></div>
      <div class="card-body">
        <div class="card-title text-center">
          Please enter your email address to request a password reset.
        </div>

        <form class="d-flex flex-column w-100">
          <mat-form-field>
            <input type="email" matInput [formControl]="passwordResetEmail" placeholder="Email" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="passwordResetEmail.hasError('required')">email is required</mat-error>
            <mat-error *ngIf="passwordResetEmail.hasError('pattern')">specified email is invalid</mat-error>
            <mat-error *ngIf="passwordResetEmail.hasError('error-extra')">{{ errorMessage }}</mat-error>
          </mat-form-field>


          <mat-card-actions>
            <button mat-raised-button class="btn btn-primary btn-block mt-2" (click)="resetPassword()">Reset Password</button>
          </mat-card-actions>

          <div class="text-center mt-2" *ngIf="emailSent">
            <span>
              We have sent the password reset link to your email.
              <a href="javascript:void(0)" (click)=" resetPassword()">Resend</a>
            </span>
          </div>

        </form>
      </div>
      <div class="card-footer text-center mt-2">
        <span>Go back to ? <a class="redirect" routerLink="/login">Log In</a></span>
      </div>
    </div>
  </div>
</div>





