<div class="d-flex h-100 justify-content-center">
  <div class="d-flex flex-column w-25 justify-content-center">
    <div class="card">
      <div class="card-header"><h3 class="text-center"><span>Reset Password</span></h3></div>
      <div class="card-body">
        <div class="card-title text-center">
          Set your new password
        </div>

        <form class="d-flex flex-column w-100">
          <mat-form-field>
            <input type="password" matInput [formControl]="password" placeholder="Password" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="password.hasError('required')">password is required</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">password should be at least 6 characters</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="password" matInput [formControl]="repassword" placeholder="renter password" [errorStateMatcher]="errorMatcher" />
            <mat-error *ngIf="repassword.hasError('required')">confirm the password</mat-error>
            <mat-error *ngIf="repassword.hasError('matched')">password should match</mat-error>
          </mat-form-field>

          <mat-error *ngIf="error" class="text-center"><i class="fa fa-exclamation-triangle"></i>{{ errorMessage }}</mat-error>

          <mat-card-actions>
            <button mat-raised-button class="btn btn-primary btn-block mt-2" (click)="changePassword()">Change Password</button>
          </mat-card-actions>

        </form>
      </div>
      <div class="card-footer text-center mt-2">
        <span>Go back to ? <a class="redirect" routerLink="/login">Log In</a></span>
      </div>
    </div>
  </div>
</div>





